<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
 <script src="../static/js/external_api.js"></script>
        <script>
		//https://meet.jit.si/external_api.js-----'camera',
		//JitsiMeetAPIExample
            var domain = "meet.jit.si";
			
            var options = {
                roomName: "Health ChatBot",
                width: '100%',
                height: 500,
				parentNode: undefined,
				configOverwrite: {},
                interfaceConfigOverwrite: {
				LANG_DETECTION: true,
              TOOLBAR_BUTTONS: ['camera','microphone','tileview','microphone','hangup','raisehand', 'fullscreen', 'display-capture','settings'],
              filmStripOnly: false,
              DEFAULT_BACKGROUND: '#4dbdea'},
				
            }
			
            var api = new JitsiMeetExternalAPI(domain, options);
        </script>
</body>
</html>
